body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.dark-mode h1 {
  color: #76D6FF;
}


.dark-mode textarea {
  background-color: #424242;
  color: ghostwhite;
}

.dark-mode textarea:focus {
  background-color: #011993;
}

.dark-mode .note {
  background-color: #888;
}

.dark-mode .note.new {
  background-color: #005493;
}

/* styling the div with a className of note */
.note {
  background-color: #FFD479;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  /*box-shadow: 0px, 4px, 8px, 0px, rgba(0, 0, 0, 0.2);*/

  /* styling the date and bin icon */
  display: flex;  /* means that the div with a class name of note is flexbox container*/
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

/* styling the notes-list component using CSS grids */

.notes-list {
  display: grid; /* means that the notes-list div is a css grid container */
  grid-gap: 1rem; /* adds spacing around each of the notes on the grid*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* specifies a range as opposed to a single value. a column cannot be smaller than 250px, and it cannot be bigger than 1 fractional unit (FR). divides the columns each with a set width of 250px. auto-fit automatically resizes the column based on the size specified i.e 250px */
}

.note.new {
  background-color: #76D6FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  border: none;
  resize: none;
  border-radius: 5px;
}

.save {
  background-color: #efefef;
  border: none;
  border-radius: 10px;
  padding: 5px 10px, 5px 10px;
  margin-top: 5px;
}
.menu {
  background-color: #efefef;
  border: none;
  border-radius: 10px;
  padding: 5px 10px, 5px 10px;
  
}

.save:hover {
  background-color: #00FA92;
  cursor: pointer;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto; /* helps keep everything centered on large screens or regardless of screen size */
  padding-right: 15px;
  padding-left: 15px; /* prevents the note from being pushed to the edge of the screen */
  min-height: 100vh; /* means 100per cent of the view height*/
}

/* .tiny {
  
} */


/* styling for login form */

/* {box-sizing: border-box}*/

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}



.delete-icon {
  cursor: pointer;

}

.search {
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: #EBEBEB;
  margin: 0px;
  padding: 5px;
}

.search input:focus {
  outline: none;
  
}

.dark-mode {
  background-color: #000000;
  color: ghostwhite;
  border: none;
  border-radius: 15px;
  padding: 5px, 10px, 5px, 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuButton {
  margin-right: 15px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 0px solid #ccc; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
   /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
  margin-right: auto;
  margin-left: auto; 
  padding-right: 15px;
  padding-left: 15px; 
  min-height: 100vh;
}

.contact {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}

.typeArea {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.contactHeader {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;

}





